      <section data-ng-controller="EnquiresController" data-ng-init="find()">
      <div class="row">
          <div class="large-12 columns centered-text">
              <h2>Latest Questions</h2>
          </div>
      </div>
           <div  class="large-8 large-centered columns" data-ng-repeat="enquire in enquires">
           

            <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="panel-heading">
                     <img class="img-circle pull-left" src="http://lorempixel.com/70/70/people/{{$index}}" />
                      <a data-ng-href="#!/enquires/{{enquire._id}}"> <h3 data-ng-bind="enquire.title"></h3></a>
                    <h5><span>{{enquire.user.displayName}}</span> - <span data-ng-bind="enquire.created | date:'medium'"></span></h5>
                </div>
                <div class="panel-body">
                    <p data-ng-bind="enquire.text"> </p>
                </div>
                <div class="panel-footer">
                    <form class="form-inline" data-ng-submit="createAnswer(enquire)" novalidate>
<div class="row">
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" value="true" ng-model="answer.isPro"> Pro
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" value="false" ng-model="answer.isPro"> Con
                    </label>
</div><div class="form-group">
    <input ttype="text" name="answer.reason" ng-model="answer.reason" placeholder="Reason" class="form-control" >
  </div>
                        <button type="submit" class="btn btn-success ">Vote</button>
                    </div>
                    </form>
                
                <div class="panel-google-plus-show-comment" data-ng-controller="AnswersController" data-ng-init="loadAnswer(enquire)">
                <div ng-repeat="answer in enquire.answers | limitTo:amount">
                    

                    <img class="img-circle pull-left" src="http://lorempixel.com/50/50/people/{{$index}}" />
                      <p> {{answer.reason}} </p>
                    <h6><span>{{answer.user.displayName}}</span> - <span data-ng-bind="enquire.created | date:'medium'"></span></h6>


                      <i ng-show="{{answer.isPro}}" class="pro fi-check"></i>
                      <i ng-hide="{{answer.isPro}}" class="cons fi-x"></i>
                          
                       <div class="clearfix"></div>
                    </div>
                                  <button ng-show="amount<enquire.answers.length" class="btn small" ng-click="loadMore()">Load more</button>

            </div>
            </div>
        </div></div></div></div>
    
  </section>