.pro {
font-size: 20px;
text-shadow: 0 1px 3px rgba(0,0,0,0.25);
color: #01A916;
}

.cons {
font-size: 20px;
text-shadow: 0 1px 3px rgba(0,0,0,0.25);
color:#EF4B4B;
}

.answer.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-left: 100%;
}

.answer.ng-enter-active {
  margin-left: 0;
}

.answer.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-left: 0;
}

.answer.ng-leave-active {
  margin-left: 100%;
}

.answer.ng-move {
  -webkit-transition: 1s;
  transition: 1s;
  
  background: gold;
}

.answer.ng-move-active {
  background: #fff;
}
